/*
    REMINDER!!
    Most of the styling is from Bootstrap
    win.html, index.html, about.html use v4.5.3
    contact.html uses v5.0.2
*/


/*
    Variables for the standards heights
    of the main components
*/
:root{
    --header-h: 9vh;
    --nav-h: 80px;
    --footer-h: 7vh;
    --main-h: 85vh;
}

/*
    Styles and layout for the header and nav
    the same all over the app
*/
.padding-l-r{
    padding: 0 10vw;
}

header{
    height: var(--header-h);
}

nav{
    max-height: var(--nav-h);
    width: 100%;
    -webkit-box-shadow: 3px 25px 42px -10px rgba(110,110,110,0.79);
    -moz-box-shadow: 3px 25px 42px -10px rgba(110,110,110,0.79);
    box-shadow: 3px 25px 42px -10px rgba(110,110,110,0.79);
}

/*
    layout and styles for the main section
    at the index.html page
    here are all of the random quotes styles as well
*/
.main{
    display: flex;
    align-items: center;
    height: var(--main-h);
    background: url("https://source.unsplash.com/collection/209138");
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.quote-canvas{
    height: 65%;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.642);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.quote-container{
    margin: auto auto;
    height: 60%;
    width: 70%;
    background-color: rgba(245, 245, 245, 0.801);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#quoteP{
    padding: 2em;
    margin: auto auto;
    text-align: center;
}

/*
    The layout and styles of the main tag at win.html are at wheel.css
    Styles and layout of the left main components in the win.html page
    Prize to select by the user, table of last prizes and winner text below the table
    For the wheel styles go to wheel.css
*/

.prize-info{
    min-width: 50vw;
}

.prize-title{
    margin-top: 2em;
    text-align: center;
}

.prize-select{
    margin: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
}

.prize-select div:hover{
    transform: scale(1.4);
}

.prize-select div:active{
    transform: scale(0.8);
}

.prize-info:last-child {
    margin-right: 4em;
}

.caption-top{
    caption-side: top;
}

#clear-prizes{
    position: absolute;
    right: 4em;
}

#winner{
    text-align: center;
    font-weight: bold;
}


/*
    Styles and layout of the footer for all pages
    include the social media icons
*/

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-h);
    -webkit-box-shadow: -1px -9px 42px -10px rgba(110,110,110,0.79);
    -moz-box-shadow: -1px -9px 42px -10px rgba(110,110,110,0.79);
    box-shadow: -1px -9px 42px -10px rgba(110,110,110,0.79);
}

i{
    color: black;
    font-size: 1.5rem;
}

i:hover{
    color: #818181;   
}

i:active{
    text-shadow: 2px 1px black;
}

/*
    Styles and layout for the about.html page
*/

svg{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
    fill: #fff;
    z-index: -1;
}

.about-main{
    height: var(--main-h);
    display: flex;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;   
}

.vision{
    align-self: center;
    height: 400px;
    background:hsl(0, 0%, 10%);
    color:hsl(0, 0%, 50%);
    padding:2rem 3rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-image:linear-gradient(90deg, hsl(0, 0%, 10%), hsla(0, 0%, 10%, 0.9),   hsla(0, 0%, 10%, 0)), url("https://images.unsplash.com/photo-1636950101519-a128cad64a4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80");
    background-size:cover;
    border-radius:10px;
    -webkit-box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
    -moz-box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
    box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
}

.vision > p{
    color: #fff;
    margin-bottom:2rem;
    width:75%;
    font-size:1.2rem;
    letter-spacing:1px;
    line-height:150%;
}

.people{
    display: grid;
    gap: 0.6em;
}

.people-card{
    width: 25vw;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
    -moz-box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
    box-shadow: 14px 14px 14px -9px rgba(125,118,125,0.67);
    overflow: hidden;
}

.people-card > p{
    margin: 20px;
    overflow: auto;
}

.img-1{
    background: url("https://source.unsplash.com/collection/1116190/120x120");
    width: 120px;
    height: 16vh;
    border-radius: 10px 0 0 10px;
    float: left;
    margin-right: 0.5em;
}

.img-2{
    background: url("https://source.unsplash.com/collection/10604986/120x120");
    width: 120px;
    height: 16vh;
    border-radius: 10px 0 0 10px;
    float: left;
    margin-right: 0.5em;
}

.img-3{
    background: url("https://source.unsplash.com/collection/fR0fpuI7fzc/120x120");
    width: 120px;
    height: 20vh;
    border-radius: 10px 0 0 10px;
    float: left;
    margin-right: 0.5em;
}

/*
    Styles and layout of the main section of the contact.html page
    the main section have the .content class
*/

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content > div {
    margin-top: 3em;
}

.content h2{
    width: 40vw;
    margin-bottom: 1em;
    text-align: center;
}

.contact-form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    
}

.contact-form > form{
    width: 100%;
}

#floatingBody{
    height: 20vh;
}

.contact-form > button{
    background-color: #92dce5;
    margin: 0 auto;
}

.contact-form > button:hover{
    background-color: #9892e5;
    margin: 0 auto;
}

.contact-form > button:active{
    transform: scale(0.8);
}