:root{
    --header-h: 9vh;
    --nav-h: 5.5vh;
    --footer-h: 7vh;
    --main-h: calc(100vh - var(--header-h) - var(--nav-h) - var(--footer-h));
}

main{
    width: 100%;
    height: var(--main-h);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows:  1fr;
}

.wheel-wrapper{
    grid-column: 1;
	margin:0;
	padding:0;
	background: #2980B9;  
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); 
	display:flex;
	align-items:center;
	justify-content: center;
	height:100%;
    width: 40vw;
	overflow:hidden;
}

.wheel-container{
	width:27em;
	height:27em;
	background-color: rgb(189, 188, 188);
	border-radius:50%;
	border:15px solid rgb(194, 194, 209);
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.wheel-container div{
	height:50%;
	width:50%;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:5em;
}

.wheel-text{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-size: medium;
}

.wheel-text-small{
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-size: smaller;
	max-width: 75%;
}

.wheel-container .one{
	background-color: #3f51b5;
	left:50%;
}

.wheel-container .two{
	background-color: #ff9800;
	transform: rotate(45deg);
}

.wheel-container .three{
	background-color: #e91e63;
	transform:rotate(90deg);
}

.wheel-container .four{
	background-color: #4caf50;
	transform: rotate(135deg);
}

.wheel-container .five{
	background-color: #009688;
	transform: rotate(180deg);
}

.wheel-container .six{
	background-color: #795548;
	transform: rotate(225deg);
}

.wheel-container .seven{
	background-color: #9c27b0;
	transform: rotate(270deg);
}

.wheel-container .eight{
	background-color: #f44336;
	transform: rotate(315deg);
}

#spin {
	width: 68px;
    height: 68px;
    position: absolute;
    top: 53.7vh;
    left: 19.8vw;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
    z-index: 1;
    background: #fff;
    cursor: pointer;
    user-select: none;
}

#spin:after {
	content: 'SPIN';
	text-align: center;
	line-height: 68px;
	color: #ccc;
	text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 100000;
	width: 68px;
	height: 68px;
	display: block;
}

#spin:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style:  solid;
	border-width: 0 20px 28px 20px;
	border-color: transparent transparent #fff transparent;
	top: -12px;
	left: 14px;
}

#inner-spin {
	width: 54px;
	height: 54px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -27px;
	border-radius: 50%;
	z-index: 999;
	box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0% , rgba(234, 234, 234, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#ffffff', endColorstr='#eaeaea', GradientType=1);
}

#spin:active #inner-spin {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

#spin:active:after {
	font-size: 15px;
}

